<ul class="menu-maker">
    {% for node in menu_nodes %}
        <li class="menu-item {% if node.is_active %} active {% endif %}">
        {% if node.is_parent %}
            <span>></span>
        {% endif %}
            {% with menu_name|lower as menu_url %}
                <a href="{% url menu_url node.item.id %}">{{ node.item.name }}</a>
            {% endwith %}
        </li>
        {% if node.ul_iterator %}
            {% for i in node.ul_iterator %}
            </ul>
            {% endfor %}
        {% endif %}
        {% if node.is_parent %}
            <ul class="menu submenu {% if node.hidden %} submenu-hidden  {% endif %}">
        {% endif %}
    {% endfor %}
</ul>